In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import importlib

import load_data

In [2]:
importlib.reload(load_data)

In [3]:
df = load_data.read_and_process_parquet()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63319315 entries, 0 to 63319314
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   date_order     datetime64[ns]
 1   date_invoice   datetime64[ns]
 2   product_id     int64
 3   client_id      int64
 4   sales_net      float64
 5   quantity       int64
 6   order_channel  object
 7   branch_id      int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(1)
memory usage: 3.8+ GB

In [5]:
df.head()

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id
0,2017-09-25,2017-09-25,2376333,188502,155.44320,3,online,2732
1,2017-09-25,2017-09-25,2520527,835089,16.39440,3,at the store,10279
2,2017-09-25,2017-09-25,2536756,1977896,365.76624,21,online,6184
3,2017-09-25,2017-09-25,3028673,598816,8.59878,201,at the store,4200
4,2017-09-25,2017-09-25,203377,2086861,1093.37400,3,by phone,7051

In [9]:
# Group the data by 'date_order' and 'client_id', and calculate the sum of sales for each group
sales_sum_df = df.groupby(['date_order', 'client_id'])['sales_net'].sum().reset_index()
sales_sum_df

        date_order  client_id    sales_net
0       2017-09-22     403403   665.242800
1       2017-09-22     585799   654.616800
2       2017-09-22     591886     0.000000
3       2017-09-22     688261  2443.568280
4       2017-09-22     791423   331.034400
...            ...        ...          ...
7955284 2019-09-22    2039787   151.982160
7955285 2019-09-22    2058530  1403.121571
7955286 2019-09-22    2076261   166.037000
7955287 2019-09-22    2153179  1419.274800
7955288 2019-09-22    2265063  2265.400947

[7955289 rows x 3 columns]

In [ ]:
# par jour par client la somme des sales
# groupby day/client and sum sales
# try to predict this

In [ ]:
# Drop duplicate order dates while keeping the first occurrence
unique_dates_df = df_client.drop_duplicates(subset='date_order')

# Calculate the total number of unique order dates
total_unique_dates = len(unique_dates_df)

# Calculate the total number of days between the first and last order date
total_days = (unique_dates_df['date_order'].max() - unique_dates_df['date_order'].min()).days

# Calculate the average frequency of order dates
average_frequency = total_unique_dates / total_days

In [ ]:
average_frequency

In [ ]:
# Drop duplicate order dates while keeping the first occurrence for each client
unique_dates_df = df.drop_duplicates(subset=['client_id', 'date_order'])

# Calculate the total number of unique order dates for each client
client_order_count = unique_dates_df.groupby('client_id')['date_order'].count()

# Calculate the total number of days between the first and last order date for each client
client_order_range = unique_dates_df.groupby('client_id')['date_order'].apply(lambda x: (x.max() - x.min()).days)

# Calculate the order frequency for each client
order_frequency = client_order_count / client_order_range

# Create a DataFrame with 'client_id' and 'order_frequency'
order_frequency_df = pd.DataFrame({'client_id': order_frequency.index, 'order_frequency': order_frequency.values})

In [ ]:
num_inf = (order_frequency_df['order_frequency'] == float('inf')).sum()

print("Number of 'inf' values:", num_inf)

In [ ]:
21081 / 170588

In [ ]:
order_frequency_df

In [ ]:
# fraction of negative values for sales net
(df.sales_net < 0).sum() / len(df.sales_net)

In [ ]:
df_client = df[df.client_id == 188502]

In [ ]:
len(df_client.product_id.unique())
# this client purchases 200 unique products

In [ ]:
"""
client_id
- sum_sales
- count_orders
- freq_orders
- nb_diff_products
- nb_branch
- last_time_purchased
Define Y (Churn)
"""

In [ ]:
# sum sales
df_client.sales_net.sum()

In [ ]:
df_client.head()

In [ ]:
# count orders
len(df_client)

In [ ]:
# compute diff
df_client['order_diff'] = df_client.groupby('client_id')['date_order'].diff().dt.days
# Compute the average frequency and standard deviation of the frequency of orders for each client
frequency_stats = df_client.groupby('client_id')['order_diff'].agg(['mean', 'std'])

frequency_stats = df_client.groupby('client_id').agg(
    avg_frequency=('order_diff', 'mean'),
    std_frequency=('order_diff', 'std'),
    max_date_order=('date_order', 'max'),
    sum_sales=('sales_net', 'sum'),
    avg_sales = ('sales_net', 'mean'),
    count_sales=('sales_net', 'count'),
    unique_product=('product_id', lambda x: len(x.unique())),
    unique_branch=('branch_id', lambda x: len(x.unique())),
)
max_date = max(df['date_order'])
frequency_stats['date_diff_max'] = (frequency_stats['max_date_order'] - max_date).dt.days

In [ ]:
frequency_stats

In [ ]:
df_client.date_order

In [ ]:
average_frequency

In [ ]:
std_dev_frequency

In [ ]:
max_date = max(df['date_order'])

In [ ]:
df_client.date_order

In [ ]:
max_date

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming df contains your DataFrame with the sample dataset

# Clean the data by removing negative values in the sales_net column
cleaned_df = df_client.copy()
# Convert the date_order column to datetime if it's not already in datetime format
cleaned_df['date_order'] = pd.to_datetime(cleaned_df['date_order'])

# Extract the week number from the date_order column
cleaned_df['week_number'] = cleaned_df['date_order'].dt.isocalendar().week

# Group by week_number and calculate the average sales_net for each week
average_sales_by_week = cleaned_df.groupby('week_number')['sales_net'].mean()

# Plot the average sales_net by week
plt.figure(figsize=(10, 6))
average_sales_by_week.plot(marker='o', linestyle='-')
plt.title('Average Sales by Week')
plt.xlabel('Week Number')
plt.ylabel('Average Sales Net')
plt.grid(True)
plt.show()